// ~/.config/zellij/layouts/dev.kdl
// Development workspace layout

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="Code" focus=true {
        pane split_direction="vertical" {
            pane name="editor" size="60%" focus=true
            pane split_direction="horizontal" {
                pane name="terminal"
                pane name="git" command="lazygit" {
                    start_suspended true
                }
            }
        }
    }
    
    tab name="Server" {
        pane split_direction="horizontal" {
            pane name="dev-server"
            pane name="logs"
        }
    }
    
    tab name="Shell" {
        pane
    }
}
